<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link"  routerLink="/recipes" >Recipes</a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/auth">Authenticate</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" style="cursor: pointer;" (click) = "onLogOut()" >Log Out</a>
        </li>
        <li class="dropdown"  *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" style="cursor: pointer;" (click) = "saveData()" >Save Data</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click) = "onFetchData()" >Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>